.page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatarContainer{
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 36px;
    padding: 36px;
}