receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

exporters:
  zipkin:
    endpoint: "http://zipkin:9411/api/v2/spans"  # Assuming you add a Zipkin service in your compose file.

service:
  telemetry:
    logs:
      level: "debug"
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [zipkin]
