.page{
    padding: 16px;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.nutriContainer{
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap:12px;
}
