.page {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.button{
    width: 100%;
}

.ul {
    display:flex;
    flex-direction: column;
    padding: 16px;
    gap:16px;
}